body{
    margin: 0;
}

h1{
    color: #fca740;
}

h2{
    color: #d3ff11;
    padding: 40px 20px;
    background-color: #367dcf;
}

.header{
    padding: 75px 20px;
    color: #5b15ff;
    background-color: #fca740;
}

.header h1{
    color: #000000
}


.header-text {
    font-size: 70px;
    font-weight: 800;
    margin: 0;
}

.header-text1 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

.header-text2 {
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px
}

.experience-list{
    list-style-type: none;
    background-color: aquamarine;
}


.experience-list li div :first-child {
    font-weight: 500;
}

.experience-list li div :last-child {
    font-weight: 300;
}